@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&display=swap');

  
body{
    margin: 0px;
    font-family: Nunito Sans, Arial;
}

body * {
    box-sizing: border-box;
}

.container{
    max-width: 1250px;
    margin: 0px auto;
}

@media only screen and (max-width: 1300px) {
    .container {
        margin-left: 18px;
        margin-right: 18px;
    }
}

.bg-dark-color {
    background-color: #131313;
}

.header-content {
    color: white;
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}


.button {
    border-radius: 2px;
    border: 0px;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    outline: 0px;
    padding: 13px 33px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
}

.button-colored {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
}

.logo {
    color: #E3B873;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

@media only screen and (max-width: 1300px) {
    .logo {
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 15px;
        text-transform: uppercase;
    }
}

.phone-number{
    color: #E3B873;
}

@media only screen and (max-width: 1300px) {
    .phone-number {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 15px;
        text-align: right;
        text-decoration: none;
        color: #FFFFFF;
    }
}

.header-button {
    max-width: 161px;
    max-height: 51px;

    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
}

@media only screen and (max-width: 1300px) {
    .button-hide {
        display: none;
    }
}


.header-nav {
    list-style: none;
    display: flex;
}

@media only screen and (max-width: 1300px) {
    .header-nav {
        display: none;
    }
}

.header-nav-item {
    margin-right: 47px;
}


.nav-a {
    color: white;
    text-decoration: none;
}

.nav-a:hover {
    color: #E3B873;
}



.hero {
    background-image: url('../images/bg_main.jpg');
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.hero-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-width: 1300px) {
    .hero-container {
        flex-direction: column;
        align-items: center;
        margin-top: -85px;
    }
}

.title {
    margin: 0px;
    text-transform: uppercase;
}

.normal-text {
    color: white;
}

.highlight-text {
    color: #E3B873;
}

.hero-text {
    max-width: 504px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;

    color: #FFFFFF;
}

.hero-title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
}

@media only screen and (max-width: 1300px) {
    .hero-title {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 29px;
        line-height: 135.84%;
    }
}

.hero-normal-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
}

@media only screen and (max-width: 1300px) {
    .hero-normal-text {
        font-weight: 400;
        font-size: 21px;
        line-height: 135.84%;
    }
}

.button-hero {
    width: 207px;
    height: 51px;
    margin-right: 20px;
}

.button-transperent {
    background-color: Transparent;
    border: solid 1px;
    border-color: white;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
}

.hero-button-container {
    display: flex;
}

@media only screen and (max-width: 1300px) {
    .button-hero {
        min-width: 339px;
        min-height: 70px;
        margin-right: 0px;
        margin-bottom: 26px;
        margin-top: 32px;
    }
}

@media only screen and (max-width: 1300px) {
    .hero-button-container {
        flex-direction: column;
    }
}

.projects {
    background-color: #131313;
    height: 1074px;
}

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    width: 679px;
}

@media only screen and (max-width: 1300px) {
    .projects-list {
        display: none;
    }
}

.projects-list-item {
    color: white;
    text-decoration: none;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
}

.projects-data {
    display: flex;
    flex-direction: row;
    align-content: center;
    color: white;
    justify-content: space-between;
}

@media only screen and (max-width: 1300px) {
    .projects-data {
        flex-direction: column;
    }
}

.projects-data-text {
    width: 331px;
    align-self: center;
}

.h2 {
    max-width: 248px;
    margin-bottom: 34.6px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
}

@media only screen and (max-width: 1300px) {
    .projects-h2 {
        text-align: center;
        width: 253px;
        height: 66px;
        margin-left: 40px;
    }
}

.projects-description {
    margin-bottom: 42px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
}

@media only screen and (max-width: 1300px) {
    .projects-description {
        text-align: center;
        margin: 0px;
        font-weight: 400;
        font-size: 12px;
        line-height: 158.48%;
    }
}
.project-info-grid {
    display: flex;
    flex-direction:  row;
    justify-content: space-between;
}

.project-info-container {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1300px) {
    .project-info-grid {
        margin-top: 136px; 
    }
    .space-info {
        margin-top: 45px;
    }
}

.info-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
}

.h3 {
    text-transform: uppercase;
}

.project-h3 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.selector {
    margin-top: 80px;
    margin-right: auto;
}

@media only screen and (max-width: 1300px) {
    .selector  {
        display: none;
    }
}

@media only screen and (max-width: 1300px) {
    .project-example  {
        display: none;
    }
}

.online-control-section {
    margin-top: -400px;
}

.project-example-mobile {
    display: none;
}

@media only screen and (max-width: 1300px) {
    .project-example-mobile {
        display: inline;
        min-width: 400px;
    }
}

@media only screen and (max-width: 1300px) {
    .mobile-project-img {
        min-width: 400px;
        margin-left: -35px;
    }
}

@media only screen and (max-width: 1300px) {
    .arrows {
        margin-top: -200px;
        display: flex;
        justify-content: space-between;
    }
    .arrow-right {
        -webkit-transform:rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

.control-title {
    /* margin-top: -260px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.control-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1300px) {
    .online-control-section {
        background-color: #131313;
    }
}

.h3-control {
    margin-top: 0px;
    color: white;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 138.6%;
}

@media only screen and (max-width: 1300px) {
    .h3-control {
        margin-top: 56px;
        font-size: 30px;
    }
    .camera-icon {
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);    
    }
}

.video-preview {
    filter: brightness(25%);
    max-width: 817px;
    max-height: 434px;
}

.video-button {
    z-index: 1;
    margin-top: -270px;
}

@media only screen and (max-width: 1300px) {
    .video-preview {
        margin-left: 18px;
        margin-right: 18px;
        max-width: 400px;
        max-height: 434px;
    }

    .video-button {
        z-index: 1;
        margin-top: -180px;
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        -webkit-transform: scale(0.7);
        transform: scale(0.7);   
    }
}

.divider {
    margin-top: 237px;
}

@media only screen and (max-width: 1300px) {
    .divider {
        margin-top: 56px;
    }
}

.control-text{
    max-width: 681px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
}

@media only screen and (max-width: 1300px) {
    .control-text {
        font-size: 18px;
        line-height: 169.8%;
        /* or 19px */
        text-align: center;
        color: #FFFFFF;
    }
}

.form{
    display: flex;
    justify-content: space-between;
    max-width: 769px;
    flex-wrap:wrap;
    margin-top: 91px;
}

.label {
    display: flex;
    flex-direction: column;
    margin-right: 59px;
}

.form-button {
    width: 200px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

}

.checkbox-label {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 33px;
}

.label-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.input {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;

    outline: 0;
    border-width: 0 0 1px;
    border-color: rgba(54, 54, 54, 0.7);
}

.input::placeholder {
    color: #363636;
}

input[type='checkbox']{
    width: 18px !important;
    height: 18px !important;
    margin-right: 9px;
    margin-top: -3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    font-size: 0.8em;
    text-align: center;
    line-height: 1em;
    background: #E3B873;
    }
    
    input[type='checkbox']:checked:after {
        content: '✔';
        color: white;
    }

    .checkbox-text {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 163.68%;
        /* or 23px */
        color: #181818;
    }

  @media only screen and (max-width: 1300px) {
    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 400px;
        flex-wrap:wrap;
        margin-top: 61px;
    }

    .label {
        display: flex;
        flex-direction: column;
        margin-right: 0px;
    }

    .label-text {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.5);
    }
    
    .input {
        font-size: 16px;
        line-height: 23px;
        height: 25px;
        outline: 0;
        border-width: 0 0 1px;
        border-color: white;
        background-color: transparent;
        margin-bottom: 60px;
    }

    .input::placeholder {
        color: white;
    }

    input[type='checkbox']{
        width: 18px !important;
        height: 18px !important;
        margin-right: 9px;
        margin-top: -3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        outline: none;
        box-shadow: none;
        font-size: 0.8em;
        text-align: center;
        line-height: 1em;
        background: #E3B873;
      }
      
    input[type='checkbox']:checked:after {
        content: '✔';
        color: white;
      }
    
    .checkbox-text {
        font-size: 14px;
        line-height: 163.68%;
        /* or 23px */
        color: white;
        margin-top: -5px;
      }
      
    .checkbox-label {
        flex-basis: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .form-button {
        width: 390px;
        height: 51px;
        align-self: center;
        font-size: 20px;
        line-height: 27px;

        margin-top: 62px;
        margin-bottom: 20px;
    }
}

.h3-repairs {
    margin-top: 72px;

    text-align: center; 
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;

    color: #181818;
}

.icon-container {
    text-align: center;
    margin-top: 13px;
    margin-bottom: 31px;
}

.repairs-container {
    display: flex;
    justify-content: space-between;
}

.repairs-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.repairs-content {
    padding: 25px 68px 49px 34px;
    margin-top: -127px;
    background-color: white;

    width: 330px;
    height: 286px;
    margin-left: 0px;
    padding-left: 0px;
}

.h4-repairs-card {
    margin: 0px;

    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-left: 34px;
    color: #363636;
}

.ul-repairs-card {
    margin-left: 0px;
    margin-top: 13px;
    padding-left: 20px;
}

.repairs-card-item {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    margin-left: 34px;
    color: #959595;
}

.repairs-button {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;

    color: #FFFFFF;
}

@media only screen and (max-width: 1300px) {
    .h3-repairs {
        margin-top: 58px;
        font-size: 30px;
    }
    
    .repairs-icon {
        margin-top: 17px;
        margin-bottom: 40px;
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);    
    }
    
    .repairs-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .repairs-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 80px;
        width: 340px;
    }
    
    .repairs-content {
        padding: 25px 68px 49px 34px;
        margin-top: -127px;
        background-color: white;
    
        width: 330px;
        height: 286px;
        margin-left: 0px;
        padding-left: 0px;
    }
}

.contact-container {
    background-image: url('../images/bg_contact.png');  
    margin-top: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-repeat: no-repeat;
}

.features-container {
    max-width: 645px;
    max-height: 645px;
}

.feature {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 102px;
}

.number-circle {
    margin-right: 21px;
    margin-left: 140px;

    border-radius: 50%;
    width: 41px;
    height: 41px;
    padding: 8px;

    background: #E3B873;
    border: 3px solid #ffffff;
    color: #fff;
    text-align: center;
    
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    text-align: center;
}

.feature-text {
    text-align: left;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    vertical-align: middle; 
    color: #363636;
    margin-right: 160px;
}

.request-container {
    background-color: #131313;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
}

.h4-request {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    
    color: #FFFFFF;
    
    max-width: 297px;
    max-height: 47px;
}

.request-label {
    margin-top: 48px;
}

.label-text-request {
    color: rgba(255, 255, 255, 0.5);
}

.request-input {
    background-color: #131313;
}

.request-input::placeholder {
    color: #FFFFFF;
}

.request-checkbox-text {
    color: #FFFFFF;
    max-width: 285px;
    max-height: 18px;
}

.request-button {
    margin-top: 39px;
    margin-left: 244px;
    margin-right: 49px;
    margin-bottom: 27px;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.piggy-container {
    display: flex;
    align-items: center;
}

.piggy-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    vertical-align: middle;
    max-width: 218px;
    max-height: 47px;
    padding-bottom: 70px;
}

.mobile-example-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-showcase-img {
    width: 400px;
    margin-bottom: -40px;
}

.showcase-arrows {
    margin-top: -70px;
    display: flex;
    justify-content: space-between;
    margin-bottom: -23px;
    margin-left: 10px;
    margin-right: 10px;
}

.mobile-map-section {
    background-color: #131313;
}

.empty-mobile {
    /* height: 354px; */
    height: 175px;
}

.mobile-map-h3 {
    text-align: center;
    color: white;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.checkbox-label-questions {
    margin-top: -35px;
}

.button-questions {
    margin-top: 40px;
}

.hero-menu {
    background-image: url('../images/bg_menu.png');
    height: 864px;
    margin-top: 242px;
}

.menu {
    display: flex;
    flex-direction: row;
}

.h2-menu {
    margin-top: -90px;
    margin-bottom: 0px;
    max-width: 441px;
    max-height: 66px;
}

.menu-ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 47px;
}

.menu-ul-item {
    text-decoration: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
}

.item-highlight{
    color:#E3B873;
    text-decoration:underline
}

.img-showcase {
    margin-top: -90px;
    display: flex;
    margin-left: 235px;
}

.showcase-left {
    margin-top: -145px;
}

.showcase-left > img {
    margin-bottom: 40px;
}

.showcase-right {
    margin-top: -217px;
}

.showcase-right > img {
    margin-bottom: 36px;
}

.clients {
    z-index: 2;
    position: relative;
}

.clients-container {
    margin-top: 111px;
    margin-bottom: 100px;
    z-index: 1;
}

.empty-space {
    /* height: 354px; */
    height: 354px;
    background-image: url('../images/bg_feedback.png');
    background-repeat: repeat;
    background-size: 100% 100%;
}

.h3-clients {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;

    color: #181818;
}

.clients-description {
    margin-top: 24px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;

    color: #363636;
}

.client-feedbacks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.client-profile {
    display: flex;
    align-items: center;
}

.client-pic {
    border-radius: 50%;
}

.client-name {
    margin-left: 26px;
    max-width: 178px;
    max-height: 42px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
}

.client-feedback {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 180%;
    color: #959595;

    width: 324px;
    height: 239px;
    
    margin-top: 24px;
}

.clients-feedback-container {
    width: 376px;
    height: 455px;
}

.client-order-info {
    display: flex;
    
}

.info-highlight {
    background-color: #E3B873;
    display: flex;
    align-items: center;
    height: 54px;
}

.info-space {
    width: 135px;
    margin-right: 1px;
}

.info-date {
    width: 157px;
}

.client-info-icon {
    margin-left: 15px;
}

.client-info-text {
    text-transform: uppercase;
    margin-left: 14px;
    margin-right: 14px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 34px 183px;
}

.contact-form {
    width: 883px;
    height: 445px;
    margin: -223px auto 0;
    background-color: #181818;
    z-index: inherit;
}

.contact-label {
    margin-top: 46px;
    margin-right: 0px;
}

.h4-questions {
    margin-bottom: 0px;
    margin-top: 34px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

}

.contact-input {
    background-color: #181818;
}

.name-phone-row {
    display: flex;
    justify-content: space-between;
}

.submit-button { 
    width: 200px;
    height: 51px;
    margin-top: 50px;

}

.submit-button-wraper {
    display: flex;
    justify-content: center;
    padding-bottom: 34px;
}

.map-section {
    height: 1040px;
    margin-top: -230px;
    padding-top: 0px;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 3.47%, rgba(24, 24, 24, 0.8) 100%), url('../images/bg_map.png');
    background-size: cover;
    background-blend-mode: darken;
}


.h2-contat-info {
    max-width: 589px;
    max-height: 51px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    
    color: #E3B873;
}

.contant-info {
    display: flex;
    flex-direction: column;
    padding-top: 275px;
    align-items: center;
    margin-bottom: 28px;
}

.contant-info-mobile {
    padding-top: 0px;
    margin-top: 40px;
    margin-bottom: 60px;
}

.social-links {
    width: 71px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}



.map {
    z-index: 100;
    margin-top: 43px;
}

.google-map {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.header {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

.hide-in-desktop {
    display: none;
}

@media only screen and (max-width: 1300px) {
    .hide-in-mobile {
        display: none;
    }
    .hide-in-desktop {
        display: inherit;
    }

    .large-icon-sl {
        -moz-transform: scale(2);
        -ms-transform: scale(2);
        -o-transform: scale(2);
        -webkit-transform: scale(2);
        transform: scale(2);   
    }

    .social-links {
        justify-content: space-between;
        width: 120px;
    }
}